<% title "Budgets : edit" %>

<div class="row">
    <div class="span6">
        <%= render 'form' %>
    </div>
</div>
<p><%= link_to '<i class="icon-chevron-left"></i> '.html_safe+(I18n.t 'budgets list'), budgets_path, :title => (I18n.t 'budgets list') %></p>