<% title "Tags" %>

<div class="row">
	<div class="col-lg-12">
		<%= render 'form' %>
	</div>
</div>

<p><%= link_to '<i class="icon-chevron-left"></i> '.html_safe+(I18n.t 'all tags'), tags_path %></p>
