<h3>Editing tag</h3>
<div class="row">
	<div class="span6">
		<%= render 'form' %>
	</div>
</div>

<p><%= link_to '<i class="icon-chevron-left"></i> tag details'.html_safe, @tag, :title => 'tag details' %></p>
