.container
{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	background: #fff;
	margin-top: 20px;
}

.field_with_errors #expense_amount, .field_with_errors #budget_amount
{
	float: left;
}

td.amount, th.amount
{
	text-align: right;
}

.buttonNew
{
	float:right;
}

#moneyLeft
{
    text-align: right;
    margin-bottom: 20px;
}