body
{
  // background: image-url("stressed_linen.png") repeat 0 0;
}

@mixin error {
  float: left;
}

.field_with_errors {
  #expense_amount, #budget_amount
  {
  	@include error;
  }
}

td.amount, th.amount
{
	text-align: right;
}

.belowBudget
{
    color: #F71818;
}

.overBudget
{
    color: #62ADC5;
}

.chart1
{
    height:300px;
    width: 390px;
    float: left;
}

#pager span
{
    background-color: inherit;
    border: none;
    padding: 0px;
}

#pager div.short {
    width: auto;
}

#pager input.btn:hover {
    /*background-position: 0px;*/
}

#pager input.btn
{
    background-image:none;
}

#pager a, .pager span {
    padding: 0px;
}

#pager select, #pager textarea, #pager input[type="text"], #pager input[type="password"], #pager input[type="datetime"],
#pager input[type="datetime-local"], #pager input[type="date"], #pager input[type="month"], #pager input[type="time"],
#pager input[type="week"], #pager input[type="number"], #pager input[type="email"], #pager input[type="url"],
#pager input[type="search"], #pager input[type="tel"], #pager input[type="color"], #pager .uneditable-input {
    padding: 0px;
}

#pager span {
    color: #0088CC;
    float: left;
    margin-left: 4px;
}

#pager .btn:hover {
    background-position: 0 -20px;
}

/*white*/
.white
{
    background-color: #FFFFFF;
}
.white.normal
{
    background-color: #FFFFFF;
    color: #0088CC;
    border: solid 0px #000;
}
.white.active
{
    background-color: #FFFFFF;
    color: #333;
    border: solid 0px #000;
}
.pager.white .btn
{
    background-color: #FFFFFF;
    color: #0088CC;
    border: solid 0px #000;
}

#login_checkbox label
{
  display: inline;
}

.center
{
  text-align: center;
}

.login_button
{
  color: #fff;
  width: 94%;
}

#show_options
{
  color: #08c;
  cursor: pointer;
}

#show_options:hover
{
  text-decoration: underline;
}

form div.select2
{
  padding-left: 0;
  padding-right: 0;
}

.white-popup {
      position: relative;
      background: #FFF;
      padding: 20px;
      width: auto;
      max-width: 500px;
      margin: 20px auto;
    }

#formBudget .form-control
{
  border: none;
}

.content table, .content form
{
  background: #fff;
  padding: 10px 0 10px 0 !important;
}

.budget_wait
{
  text-align: center;
}

body > .header .logo
{
  // font-family: "Arial";
}