<%
if session[:budget]
  defaultBudget = session[:budget]['id']
else
  defaultBudget = ''
end
%>
<% if !@budgets.nil? && @budgets.count > 0 %>
  <%= form_tag set_budget_path, :method => 'POST', :class => 'form-inline', :id => 'formBudget' do %>
    <% options =  {
      "user" => @budgets.collect do |budget|
          ["#{budget.description} (#{budget.dateStart} - #{budget.dateEnd}) - #{number_to_currency budget.amount}", budget.id]
        end,
      "pre-defined" => Budget.get_virtual_budgets
        } %>
    <%= select_tag :budget, grouped_options_for_select(options, defaultBudget), :class => 'form-control' %>
  <% end %>
<% end %>

<div class="budget_wait" style="display:none;">
  <i class="fa fa-spinner fa-3x fa-spin" style="margin:0 auto;"></i>
</div>
